---
parameter_defaults:
{% if tht_release == 'victoria' %}
  NetworkConfigWithAnsible: false
{% endif %}
   DnsServers:
{% for item in tht_dns_servers %}
     - {{ item }}
{% endfor %}
   NtpServer:
{% for item in tht_ntp_servers %}
     - {{ item }}
{% endfor %}
