. ~/stackrc
openstack overcloud deploy --templates ~/templates \
{% if tht_low_memory %}
    -e ~/templates/environments/low-memory-usage.yaml \
{% endif %}
{% if tht_swap %}
    -e ~/tht_custom/enable-swap.yaml \
{% endif %}
{% if tht_predeployed %}
    -e  ~/templates/environments/deployed-server-environment.yaml \
    {% if tht_distro == 'rhel' %}
    -e ~/templates/environments/deployed-server-bootstrap-environment-rhel.yaml \
    -e ~/templates/environments/deployed-server-pacemaker-environment.yaml \
    {% else %}
    -e ~/templates/environments/deployed-server-bootstrap-environment-centos.yaml \
    {% endif %}
    -e ~/tht_custom/predeployed.yml \
    --disable-validations \
{% endif %}
{% if tht_release == "queens" %}
    --config-download \
    -e ~/templates/environments/config-download-environment.yaml \
{% endif %}
    --overcloud-ssh-user cloud-user \
    --overcloud-ssh-key /home/stack/.ssh/id_rsa \
    -e ~/tht_custom/common.yml \
    -r ~/tht_custom/roles_data.yml 2> /dev/stdout | tee -a ~/overcloud_deploy.log-$(date +%Y-%m-%d_%H:%M:%S)
