openstack overcloud deploy --templates ~/templates \
{% if tht_predeployed %}
    -e  ~/templates/environments/deployed-server-environment.yaml \
    -e ~/templates/environments/deployed-server-bootstrap-environment-rhel.yaml \
    -e ~/templates/environments/deployed-server-pacemaker-environment.yaml \
    -e ~/tht_custom/predeployed.yml \
    --disable-validations  \
{% endif %}
{% if tht_release == "queens" %}
    --config-download \
    -e ~/templates/environments/config-download-environment.yaml \
{% endif %}
    --overcloud-ssh-user cloud-user \
    --overcloud-ssh-key /home/stack/.ssh/id_rsa \
    -e ~/tht_custom/common.yml \
    -r ~/tht_custom/roles_data.yml
